__tests__
.gitignore
.dockerignore
.git
*.log
*.md
Dockerfile
README.md

#node_modules
#.env.*
#.env.docker
#.env.local
#build
#.next
#.idea
#.git
#.gitignore
#.dockerignore
#Dockerfile
#*.md
#*.sh
#*.yml
#scripts